<div class="feedConteiner">
    <div class="users">
        {{#if userData.picture}}
        <img src="{{userData.picture}}" alt="Picture" class="picturePost">
        {{else}}
        <img src="/images/nopicture.jpg" alt="Picture" class="picturePost">
        {{/if}}
        <h1>{{userData.name}}</h1>
        <p>{{userData.email}}</p>
    </div>
    <div class="feed">
        <h1 class="title">{{userData.name}} posts</h1>
        {{#if posts}}
        <div class="posts">
            {{#each posts}}
            <div class="post">
                <div class="postControl">
                    <h3 class="postTitle">{{this.title}}</h3>
                </div>
                {{#if this.image}}
                <img src="{{this.image}}" alt="Image" class="postImage">
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{else}}
        <div class="posts">
            <h3 class="noPosts">No posts yet!</h3>
        </div>
        {{/if}}
    </div>
    <div class="ads">
        <h3>Ads</h3>
        <img src="/images/camaAd.gif" alt="">
        <img src="/images/clubeAd.gif" alt="">
        <img src="/images/shopAd.gif" alt="">
    </div>
</div>