<div class="feedConteiner">
    <div class="users">
        {{#if userData.picture}}
        <img src="{{userData.picture}}" alt="Picture" class="picturePost">
        {{else}}
        <img src="/images/nopicture.jpg" alt="Picture" class="picturePost">
        {{/if}}
        <h1>{{userData.name}}</h1>
        <p>{{userData.email}}</p>
        
        {{#if areFriends}}
            <a href="/user/cancelFriendRequest/{{userData.uuid}}" class="btnFriend">💔</a>
        {{else}}
            {{#if areFriendOne}}
                {{#if friends.friendOneAccept}}
                    <a href="/user/cancelFriendRequest/{{userData.uuid}}" class="btnFriendRed">Cancel request</a>
                {{else}}
                    {{#if friends.friendTwoAccept}}
                        <a href="/user/acceptFriendRequest/{{userData.uuid}}" class="btnFriend">Accept friend</a>
                    {{else}}
                        <a href="/user/friendRequest/{{userData.uuid}}" class="btnFriend">Add friend</a>
                    {{/if}}
                {{/if}}
            {{else}}
                {{#if friends.friendTwoAccept}}
                    <a href="/user/cancelFriendRequest/{{userData.uuid}}" class="btnFriendRed">Cancel request</a>
                {{else}}
                    {{#if friends.friendOneAccept}}
                        <a href="/user/acceptFriendRequest/{{userData.uuid}}" class="btnFriend">Accept friend</a>
                    {{else}}
                        <a href="/user/friendRequest/{{userData.uuid}}" class="btnFriend">Add friend</a>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}

        <!--
        <div class="users">
        <h2 class="friendsTitle">Friends</h2>
        <ul>
            {{#each friends}}
            <div class="postImageNameEmail">
                    <a href="/user/account/{{this.id}}">
                        <div class="pictureDiv">
                            {{#if this.picture}}
                            <img src="{{this.picture}}" alt="Picture" class="picture">
                            {{else}}
                            <img src="/images/nopicture.jpg" alt="Picture" class="picture">
                            {{/if}}
                        </div>
                    </a>
                    <div class="nameEmailDiv">
                        <p class="author">{{this.name}}</p>
                        <p>{{this.email}}</p>
                    </div>
                </div>
            {{/each}}
        </ul>
    </div>
    -->
    </div>
    <div class="feed">
        <h1 class="title">{{userData.name}} posts</h1>
        {{#if posts}}
        <div class="posts">
            {{#each posts}}
            <div class="post">
                <div class="postControl">
                    <h3 class="postTitle">{{this.title}}</h3>
                </div>
                {{#if this.image}}
                <img src="{{this.image}}" alt="Image" class="postImage">
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{else}}
        <div class="posts">
            <h3 class="noPosts">No posts yet!</h3>
        </div>
        {{/if}}
    </div>
    <div class="ads">
        <h3>Ads</h3>
        <img src="/images/camaAd.gif" alt="">
        <img src="/images/clubeAd.gif" alt="">
        <img src="/images/shopAd.gif" alt="">
    </div>
</div>